* { box-sizing: content-box;
    margin: 0; 
    padding: 0;
 }
img {width: 100%;
}

h1, h2, h3, h4, h5 { margin-bottom: 5px;
    font-family: Helvetica, Arial, sans-serif;

}

.body {
    max-width: 1350px;
    min-width: 576px; 
    margin:24px auto;
}

.header {
    display: flex;
    flex-direction: row;
    background-color:#c04333;
    padding:10px;
}

.header__title {
    
    margin-right: auto;
    font-family: Helvetica, sans-serif, Arial; 
    font-size: 60px;
    color: whitesmoke;
    padding-left: 10px;   
}
     
.header .header__nav{
    display: flex;
    justify-content:space-evenly;
    gap: 20px;
    float:right;
    padding-top: 35px;
    padding-right: 10px;  
}

.header__nav-link {
    font-family: Helvetica, sans-serif, Arial;
    font-size: 24px;
    color: whitesmoke;
}

.header__nav-link:hover {
    color:#637041;
}

.main__hero-banner-image{
    width: 100%;
    height: auto;
}

.main-article__title{
    display: block;
    text-align: center;
    font-family: Helvetica, sans-serif, Arial;
    color: #637041;
    font-size: 40px;padding: 30px;
    background-color: white;
}

.main__video-trailer-facts-container {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    padding: 12px;
    background-color:whitesmoke;
    max-width: 100%;  
}

.main__video-trailer {
    width: 50%;
    text-align: center;
}

.main__video-trailer-title {
    text-align: center;
    font-size: 28px;
    padding-top: 15px;
    padding-bottom: 8px;
}

.main-facts {
    width: 50%;
    border: 20px;
    padding: 10px;
    background-color:whitesmoke;
    word-wrap: normal; 
}

.main-facts__heading {
    font-size: 26px;
    text-align: center;
    padding-top: 10px;
}

.main-facts__subheading{
    display: inline;
    line-height: 37px; 
    text-align: left; 
    color: black;  
    font-size: 15px;
    padding-top: 20px;
    text-align: left; 
}

.main-facts__paragraph {
    display: inline;
    line-height: 28px; 
    text-align: left; 
    color: black; 
    font-family:'Helvtica';
    font-size: 15px;
    padding: 5px;   
}

.main-facts__paragraph-link {
    font-size: 14px;
    color:#c04333;
}

.main-facts__paragraph-link:hover {
    font-size: 14px;
    color:#637041;
}

.movie-summary {
    display: flex;
    justify-content: space-around;
    max-width: 80%;
    margin: 24px auto;
    padding: 30px;
    background-color:whitesmoke;
    color: black;  
}

.summary__title {
    text-align: center;
    font-size: 30px;
    color:#637041;
}

.summary__text {
    font-size: 20px;
    color:black;
    line-height: 30px;  
}

/* Media Query*/

@media screen and (max-width: 1223px) {

    .main__video-trailer-facts-container {
        display: block;
        padding: 5px;
    }
    .main__video-trailer, .main-facts {
        width:100%;
    } 
    
}

@media screen and (max-width: 760px) {
   
    .header {
        flex-direction: column;
        align-items: center;
        padding-right: 30px;
   }

   .header .nav {
    padding-bottom: 15px;
    padding-left: 25px;
   }

   .header__title {
    margin: 0px;
   }

   .body {
     margin:10px
   }

}


video {
    width: 500px;
}

.herobanner {
    width: 100%;
    height: auto;
}


.cast-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cast-container__single-cast {
    width: 25%;
    margin: 0 10px;
}

.cast-container__single-cast img {
    width: 100%;
    max-width: 300px;
    height: 500px;
    object-fit: cover;
    object-position: top;
}

.main-article__title--red {
    color: red;
}

@media (max-width: 768px){
    .cast-container__single-cast {
        width: 100%;
    }

    .cast-container__single-cast img {
        max-width: 100%;
        height: 900px;
    }
}